<body>

<app-new-dept
  [displayStyleDept]="displayStyleDept"
  (closedNewDept)="closePopupDept()"></app-new-dept>

<app-new-proger
  [displayStyleProger]="displayStyleProger"
  (closedNewProger)="closePopupProger()"
  (createdProger)="fetchAll()"></app-new-proger>


<div class="wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="mt-5 mb-3 clearfix">
          <h2 class="pull-left">IT Departments</h2>
          <button (click)="openPopupDept()" type="button"
                  class="btn btn-primary">Add New Department
          </button>

        </div>
        <div style="height:620px;overflow:auto;">
          <table class="table table-bordered table-striped">

            <thead>
            <tr>
              <th>№</th>
              <th>Project</th>
              <th>Limbaj</th>
              <th>Head Name</th>
              <th>Proger #</th>
            </tr>
            </thead>

            <!--          <tr *ngIf="isOpen">-->
            <!--            <td>NEW</td>-->
            <!--            <td><input class="form-control" id="project_name" #project_name></td>-->
            <!--            <td><input class="form-control clr-form" id="language" #language></td>-->
            <!--            <td><input class="form-control" id="head_id" #head_id></td>-->
            <!--            <td></td>-->
            <!--            <td>-->
            <!--              <button class="btn btn-success" type="submit" >Add-->
            <!--              </button>-->
            <!--              <button class="btn btn-outline-danger" onclick="">-->
            <!--                <i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp;&nbsp;Delete-->
            <!--              </button>-->
            <!--            </td>-->

            <!--          </tr>-->

            <tr *ngFor="let department of departments; let i = index">
              <td>{{i + 1}}</td>
              <td>{{department.project_name}}</td>
              <td>{{department.language}}</td>
              <td>{{department.head_name}}</td>
              <td>{{department.progs_count}}</td>
              <td>
                <button class="btn btn-outline-primary" [routerLink]="['department', department.id]">
                  <i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;&nbsp;Info
                </button>
                <button class="btn btn-outline-danger" (click)="deleteDept(department.id)">
                  <i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp;&nbsp;Delete
                </button>
              </td>

            </tr>

          </table>
        </div>

      </div>


      <div class="col-md-6">
        <div class="mt-5 mb-3 clearfix">
          <h2 class="pull-left">Progers</h2>

          <button (click)="openPopupProger()" type="button"
                  class="btn btn-primary">
            <i class="fa fa-plus"></i> Add New Proger
          </button>

        </div>

        <div style="height:620px;overflow:auto;">
          <table class="table table-bordered table-striped">
            <thead>
            <tr>
              <th>№</th>
              <th>Nume</th>
              <th>Phone</th>
              <th>Email</th>
              <th>Nivelul</th>
              <th>Member of</th>

            </tr>
            </thead>


            <tr *ngFor="let programmer of programmers; let i = index">
              <td>{{i + 1}}</td>
              <td>{{programmer.first_name}}</td>
              <td>{{programmer.phone}}</td>
              <td>{{programmer.email}}</td>
              <td>{{programmer.level}}</td>
              <td>{{programmer.on_project}}</td>
              <td>

                <button class="btn btn-outline-primary" >Info
                </button>

                <button class="btn btn-outline-danger">
                  <i class="fa fa-trash-o" aria-hidden="true"></i>Delete
                </button>

              </td>
            </tr>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>

</body>


